body {
  margin: 0;
  font-family: "Montserrat",  -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-weight: bold;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
