:root{ 
  --font-primary:'Montserrat';
  --color-text:#4A4A4A;
  --color-orange:#fd7e14;
  --color-border:#CDCDCD;
  --color-blue:#007bff;
  --color-red:#dc3545;
  --color-pink: #e83e8c;
  --color-yellow: #ffc107;
  --color-purple: #6610f2;
  --color-green: #28a745;
  --color-light-green: #20c997;
  --color-light-purple: #6f42c1;
  --color-aqua: #17a2b8;
  --color-grey: #6c757d;
  --color-dark-grey: #343a40;
  --color-off-white: #f8f9fa;
}

body {
  margin: 0;
  font-family: var(--font-primary),  -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mb-1 {
  margin-bottom: 10px;
}

.banner {
  width: 100%;
  height: 20px;
  background-size: contain;
  background-image: url(./assets/banner.png);
}

.chat {
  /* height:800px; */
  width: 900px;
  /* background: red; */
  padding-top: 200px;
  bottom: 200px;
  margin: 40px auto 0 auto;
  text-align: center;
  position: relative;
}

.chat__form {
  position: fixed;
  bottom:50px;
  width: 900px;
  border-radius: 40px;
  box-shadow: rgba(0,0,0,0.1) 0 0 28px;
  margin: 0 auto;
  left: 0; right:0 ;
  font-family: var(--font-primary);
}

.chat__form__input {
  background-color: #f9f9f9;
  width:100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-appearance: none;
  border:none;
  padding: 30px 40px;
  width: calc(900px - 80px - 200px);
  float: left;
  font-weight: bold;
  font-size: 30px;
  font-family: var(--font-primary);
}

.chat__form__input:focus{
  outline: none;
}

.chat__form__btn {
  background-color: var(--color-orange);
  color: white;
  font-family: var(--font-primary);
  width:100%;
  cursor: pointer;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-appearance: none;
  border:none;
  padding: 30px 45px 30px 35px;
  font-weight: bold;
  font-size: 30px;

  width: 200px;
}

.message-wrap {
  float: left; 
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.message__avatar {
  width: 18px;
  margin-right: 10px;
  padding: 8px 10px 9px 10px;
  text-align: center;
  background-color: var(--color-red);
  border-radius: 50%;
  font-weight: 600;
  align-self: flex-end;
  color: white;
}

.message {
  padding: 30px;
  /* display: inline-block; */
  font-size: 20px;
  float:left;
  font-family: var(--font-primary);
  border-radius: 40px;
  background-color: #f9f9f9;
  font-weight: 600;
  max-width: 80%;
  text-align: left;
}

.message--sender {
  color: white;
  background-color: var(--color-grey);
  margin-left: auto;
}

